{% extends "ecore/base.html" %}

{% block javascript %}
	<!-- This is in seconds -->
	var time_left = {{ time_left }}
	function initialize()
	{
		setInterval(tick, 1000)
		tick()
	}
	function tick()
	{
		time_left -= 1
		if(time_left < 0)
		{
			setInterval(tick, 1000*1000*1000)
			time_left = 0
		}
		var hours = ~~(time_left / 3600)
		var minutes = ~~((time_left % 3600) / 60)
		var seconds = (time_left % 3600) % 60
		document.getElementById("tclock").innerHTML= 
			hours.toString() + ":" + minutes.toString() + ":" + seconds.toString();
	}
{% endblock %}


{% block content %}
<div id="sidebar">
	<h3>Exam takens:</h3>
	<p id="exam taken">0/0</p>
</div>	

<div id="main">
	<dl id="started_exams">
		{% for exam in exam_started_list %}
			<dt id="">{{ exam.name }}</dt>
			<dd id="">{{ exam.time }}</dd>
		{% endfor %}
	</dl>

	{% for exam in exam_future_list %}

	{% endfor %}
</div>

{% endblock %}