{% extends "ecore/base.html" %}

{% block javascript %}
	<!-- This is in seconds -->
	var time_left = 0; // todo
	function initialize()
	{
		setInterval(tick, 1000)
		tick()
	}
	function tick()
	{
		time_left -= 1
		if(time_left < 0)
		{
			setInterval(tick, 1000*1000*1000)
			time_left = 0
		}
		var hours = ~~(time_left / 3600)
		var minutes = ~~((time_left % 3600) / 60)
		var seconds = (time_left % 3600) % 60
		document.getElementById("tclock").innerHTML= 
			hours.toString() + ":" + minutes.toString() + ":" + seconds.toString();
	}

	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		xmlhttp=new XMLHttpRequest();
	}
	function selectOption(id) {
		xmlhttp.open('GET', 'select/' + id,true);
		xmlhttp.send(null);
	}
{% endblock %}


{% block content %}
<div class="row-fluid">
	<div class="span4" id="sidebar">
		<h4>Time left:</h4>
		<p id="tclock">1:23:45</p>
		<h4>Questions Answered:</h4>
		<p id="questions">0/0</p>
		<h4>People finished:</h4>
		<p id="peoplec">0/0</p>
		<h4>Average points:</h4>
		<p id="points">0/0</p>
	</div>	
	<div class="span4" id="main">
		<h2>{{ examinst.exam.name }}</h2>
		<div id="questions">
			{% for question in examinst.questions.all %}
				<div>
					<h4>Question #{{ forloop.counter }}</h4>
					<p>{{ question.question.text }}</p>
					<div>
					{% for option in question.question.choices.all %}
						<input type="radio" name="{{question.question.text}}" onclick="selectOption({{ option.id }});" />{{ option.text }}</br />
					{% endfor %}
					</div>
				</div>
				<hr>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
