{% extends "ecore/base.html" %}

{% block javascript %}
	<!-- This is in seconds -->
	var exam_times = new Array();
	function initialize()
	{
		{% for id, name, dur in active_exams %}
			exam_times[{{ forloop.counter0 }}] = {{ dur }};
		{% endfor %}
		{% for id, name, dur in upcomming_exams %}
			exam_times[{{ forloop.counter0|add:active_count }}] = {{ dur }};
		{% endfor %}
		setInterval(tick, 1000);
		tick();
	}
	function get_to_str(time_left)
	{
		var hours = ~~(time_left / 3600);
		var minutes = ~~((time_left % 3600) / 60);
		var seconds = (time_left % 3600) % 60;
		var ret_val = hours.toString() + ":" + minutes.toString() + ":" + seconds.toString();
		return ret_val;
	}
	function tick()
	{
		for (var i=0;i<exam_times.length;i++)
		{
			if(exam_times[i] < 1)
			{
				location.reload();
			}
			exam_times[i] -= 1;
			var el_id = "exam_time_" + i.toString()
			document.getElementById(el_id).innerHTML = get_to_str(exam_times[i]);
		}
	}
{% endblock %}


{% block content %}
<div class="row-fluid">
	<div class="span4" id="sidebar">
		<h4>Last login:</h4>
		<p id="last login">{{ user.last_login }}</p>
		<h4>Exams taken:</h4>
		<p id="exam taken">{{ user.exams.all.count }}</p>
	</div>	

	<div class="span4" id="main">
		<h3>Exams registered to:</h3>
		<h4>Active exams</h4>
		<dl id="active_exams">
			{% for id, exam_name, time in active_exams %}
				<dt id=""><a href="{% url 'exam_questions' id %}">{{ exam_name }}</a></dt>
				<dd class="exam_timer" id="exam_time_{{ forloop.counter0 }}">{{ time }}</dd>
			{% empty %}
				<p>No active exams.</p>
			{% endfor %}
		</dl>
		<hr>
		<h4>Upcomming exams</h4>
		<dl id="upcomming_exams">
			{% for id, exam_name, time in upcomming_exams %}
				<dt id=""><a href="{% url 'exam_detail' id %}">{{ exam_name }}</a></dt>
				<dd  class="exam_timer" id="exam_time_{{ forloop.counter0|add:active_count }}">{{ time }}</dd>
			{% empty %}
				<p>No upcomming exams.</p>
			{% endfor %}
		</dl>
		<hr>
		<h4>Taken exams</h4>
		<dl id="taken exams exams">
			{% for id, exam_name, points, max_points in taken_exams %}
				<dt id=""><a href="{% url 'exam_detail' id %}">{{ exam_name }}</a></dt>
				<dd class="points">{{ points }}/{{ max_points }}</dd>
			{% empty %}
				<p>No taken exams.</p>
			{% endfor %}
		</dl>
	</div>
</div>
{% endblock %}